* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    cursor: url("cat.gif"), default;
}

body{
margin:20px;
background-color:#000000 ;
color:white;
}

h1{
padding-top: 10%;
text-align: center;
}

.center{
padding-top: 10%;
display: flex;
align-items: center;
justify-content: center;
}

.b1{
font-family: Arial, Helvetica, sans-serif;
padding:5px;
}

.b1:hover{
background-color: red;
scale: 110%;
font-weight: 1000;
}